# VetCare Backend
NODE_ENV=development
PORT=3000

# Mock Data is the default behavior
DB_ENABLED=false
DB_HOST=localhost
DB_PORT=5432
DB_NAME=vetcare
DB_USER=postgres
DB_PASSWORD=postgres
DB_SSL=false

# App
JWT_SECRET=change-me
FRONTEND_URL=http://localhost:4200
